@import "https://fonts.googleapis.com/earlyaccess/opensanshebrew.css";
@import url('https://fonts.googleapis.com/css?family=Secular+One');


a:hover {
    text-decoration: none;
}

body {
    direction: rtl;
    margin: 0;
    font-family: "Open Sans Hebrew",Helvetica,Arial,sans-serif !important;
    background-attachment: fixed;
}

nav ul li {
    padding-right: 25px;
}

nav ul {
    padding-right: 0;
}

footer {
    background-color: #f5f5f5;
}

footer li {
    background: none !important;
    border-top: none;
}

footer .list-inline-item {
    margin: 0 10px;
}

footer .list-inline {
    padding: 0;
}

nav .container-fluid {
    max-width: 1340px;
}

a {
    color: #4e4e4e;
}


.footer-little-title {
    text-align: left;
}

.footer-little-title-right {
    text-align: right;
}
.footer-right-li {
    padding-left: 30%;
}

.footer-icon li:hover {
    opacity: 70%;
    cursor: pointer;
    filter: invert(100%);
}

.collapse, .collapsing{
    text-align: center;
}

.page-title {
    letter-spacing: 10px;
    font-weight: bold;
    color: #4e4e4e;
}

.page-title hr {
    width: 40%;
}



@media only screen and (max-width: 767px) {
    footer .col-12{
        margin: 5% 0;
    }

    .footer-icon {
        margin-top: 0;
    }

    .footer-little-title {
        text-align: center;
    }

    .footer-little-title-right {
        text-align: center;
    }

    .footer-right-li {
        padding-left: 0;
    }

    .article-status {
        text-align: center !important;
        margin-top: 5%;
    }
}

iframe {
    border: rgba(0,0,0,0.3) solid 1px !important;
    border-radius: 10px;
    width: 100% !important;
    height: 530px !important;
}

#contact-form label {
    font-weight: normal;
}

.drop-cap::first-letter {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 350%;
    line-height: 5px;
    float: right;
    padding: 0 0 5px 5px;
    margin-top: 20px;
}


.custom-control-label::before ,.custom-control-label::after {
    right: -3%;
}

.custom-control-label {
    right: 3%;
}


#contact-form input[type="text"],input[type="email"], textarea {
    font-size: 14px;
    font-style: italic;
    background-color: #fdfdfd !important;
}


.custom-button:hover {
    background: #8BC34A;
    border-color: #8BC34A;
    color: #ffffff;
}



/* ##### Register Start #### */

.register-form .custom-control-label::before ,.custom-control-label::after {
    right: -4%;
}

.register-form .custom-control-label {
    right: 3%;
}

@media only screen and (max-width: 991px) {
    .register-form .custom-control-label::before ,.custom-control-label::after {
        right: -8%;
    }

    .register-form .custom-control-label {
        right: 5%;
    }

}

@media only screen and (max-width: 400px) {
    .register-form .custom-control-label::before ,.custom-control-label::after {
        right: -9%;
    }
}


.register-form .custom-checkbox label {
    margin-top: 0;
}

.register-form form {
    width: 100%;
    margin: 10px auto;
    /*padding: 0 120px 80px 120px;*/
    text-align: right;
}
.register-form label {
    display: block;
    position: relative;
    margin-bottom: 10%;
}
.register-form input[type="date"] {
    text-align: right;
}

.register-form .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
}
.register-form .input {
    width: 100%;
    border: none;
    outline: none;
}

.register-form .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
}

.register-form .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
}

.register-form .input:focus + .line-box .line {
    width: 100%;
}

.register-form .label-active {
    top: -3em;
}

.register-form button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
    width: 100%;
}

.register-form button:hover {
    background: #8BC34A;
    color: #ffffff;
}

.register-form .form-group {
    margin: 30px 0px;
}

.register-form select {
    border:0px;
    outline:0px;
}

#msform {
    #text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 20px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: right;
    color: #9E9E9E
}

#msform .action-button {
    width: 100px;
    background: #cdcdcd;
    font-weight: bold;
    color: #4e4e4e;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}
#msform .action-button:hover {
    background: gray;
    color: white;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}


.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

#progressbar {
    padding: 0;
    text-align: center;
    margin: 30px auto;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 14px;
    width: 25%;
    float: right;
    position: relative
}

.round-shadow {
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2) -2px 5px 10px;
}

/* #### Register End #### */

.doctors img {
    border-radius: 50% 50% 0 50%;
    width: 80%;
    border: solid rgba(0,0,0,0.4) 1px;
    box-shadow: rgba(0,0,0,0.2) -2px 5px 10px;

}

.doctors .col-12 {
    margin-bottom: 10%;
}

.doctors h5 {
    color: #34849D;
}

.doctors h6 {
    font-weight: bold;
}

.doctors p {
    width: 80%;
    color: #4e4e4e
}

.info-page img {
    border-radius: 20px;
    border: solid rgba(0,0,0,0.4) 1px;
    box-shadow: rgba(0,0,0,0.2) -2px 5px 10px;
}


/* ##### Mole Page Start #### */
.mole-bold {
    font-weight: bold;
    color: #4e4e4e;
}

.mole-page h5 {
    padding-top: 5%;
}

.img-row {
    margin: 5% 0;
}

.history-title {
    padding: 2% 0;
}

.history-title h2{
    font-size: 50px;
    position: absolute;
    font-style: italic;
}

.history-row {
    padding-top: 5%;
}

/* #### Mole Page End #### */

.row-background-gray {
    background: #f7f7f7;
}

.medical-profile-row td:nth-child(odd)  {
    font-size: 18px;
    font-weight: bold;
    color: #6e6e6e;
}

.medical-profile-row {
    padding: 5% 0;
}



#loading-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

    -webkit-animation: fadein 0.1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.1s; /* Firefox < 16 */
    -ms-animation: fadein 0.1s; /* Internet Explorer */
    -o-animation: fadein 0.1s; /* Opera < 12.1 */
    animation: fadein 0.1s;

}

#loading-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 20%;
    left: 40%;
    background-image: url("../../media/random/loading.svg");
    background-size: 20%;
    background-repeat: no-repeat;

}
#loading-text{
    text-align: center;
    position: absolute;
    height: 100%;
    top: 86%;
    left: 50%;
    font-size: 50px;
    color: #f1e0e0;
    font-weight: bold;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}

.progress {
    height: 30px;
}



/* all fades for all browsers */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.doctor-details {
    margin-right: 10%;
}

.info-page span {
    padding-right: 5%;
}

.like-button {
    color: #1e6abc;
    font-size: 20px;
    font-weight: bold;

}

.like-button-active:hover {
    opacity: 0.6;
    cursor: pointer;
}

.hover-fade:hover {
    opacity: 0.7;
    cursor: pointer;
}

.self-check li {
    font-size: 18px;
    margin-bottom: 5px;
}

/* *********  rimon-table-start   ***************/

.rimon-table td,.rimon-table th {
    text-align: center;
}

.rimon-table table {
    background-color: rgb(233, 233, 233);
    border-collapse: separate;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 12px rgba(128, 128, 128, 0.37);
}

.rimon-table thead{
    background-color: rgb(233, 233, 233);

}

.table>tbody>tr:nth-child(even)>td {
    background-color: rgb(245, 245, 245);

}

.table>tbody>tr:nth-child(odd)>td {
    background-color: rgb(255, 255, 255);

}

.rimon-table tbody:hover tr:hover td {
    color: #ffffff;
    background-color: rgba(110, 110, 110, 0.86);
    cursor: pointer;
}

/* *********  rimon-table-End   ***************/

.my-profile table {
    background: #fbfbff;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 6px;
    border-collapse: collapse;
    overflow: hidden;
}

.my-profile tr {
    border: 1px solid rgba(0,0,0,0.3) !important;
}

.my-profile tr:nth-child(even){
    background-color: #f2f2f2;
}

.my-profiletd {
    padding: 15px 5% !important;
}