@import "https://fonts.googleapis.com/earlyaccess/opensanshebrew.css";
@import url('https://fonts.googleapis.com/css?family=Secular+One');



nav ul li {
    padding-right: 25px;
}

footer {
    background-color: #F7F7F7;
}

a:hover {
    text-decoration: none;
}

body {
    direction: rtl;
    margin: 0;
    font-family: "Open Sans Hebrew",Helvetica,Arial,sans-serif !important;
    background-attachment: fixed;

}