@import "https://fonts.googleapis.com/earlyaccess/opensanshebrew.css";
@import url('https://fonts.googleapis.com/css?family=Secular+One');

nav ul li {
    padding-right: 25px;
}

nav ul {
    padding-right: 0;
}

footer {
    background-color: #F7F7F7;
}
.footer-icon {
    margin-top: 15%;
}
a:hover {
    text-decoration: none;
}

body {
    direction: rtl;
    margin: 0;
    font-family: "Open Sans Hebrew",Helvetica,Arial,sans-serif !important;
    background-attachment: fixed;
}

.collapse, .collapsing{
    text-align: center;
}

.page-title {
    letter-spacing: 10px;
    font-weight: bold;
    color: #4e4e4e;
}

.page-title hr {
    width: 40%;
}

@media only screen and (max-width: 767px) {
    footer .col-12{
        text-align: center !important;
        margin: 5% 0;
    }

    .footer-icon {
        margin-top: 0;
    }

}

iframe {
    border: rgba(0,0,0,0.3) solid 1px !important;
    border-radius: 10px;
    width: 100% !important;
    height: 530px !important;
}

#contact-form label {
    font-weight: bold;
}

.drop-cap::first-letter {
    color: #4e4e4e;
    font-weight: bold;
    font-size: 350%;
    line-height: 5px;
    float: right;
    padding: 0 0 5px 5px;
    margin-top: 20px;
}


.custom-control-label::before ,.custom-control-label::after {
    right: -6%;
}

.custom-control-label {
    right: 3%;
}